<!-- 
    This is a template for a basic HTML page with Bootstrap CSS and JavaScript.
    This template includes links to Bootstrap CSS and JavaScript files,
    as well as jQuery.
-->
<html lang="en">

<head>
    <!-- Link to Bootstrap CSS -->
    <link href="{{url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet" />

    <!-- Meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Title block -->
    <title>{% block title %} {% endblock %}</title>
</head>

<body>
    <!-- Body block -->
    {% block body %} {% endblock %}

    <!-- Scripts -->
    <!-- jQuery -->
    <script type="text/javascript" src="{{url_for('static', filename='js/jquery-3.2.1.min.js') }}"></script>
    <!-- Bootstrap JavaScript -->
    <script type="text/javascript" src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
</body>

</html>