<!--This contains the header for the home page.-->

{% extends "base.html" %}

{% block title %} Header {% endblock %}

{% block body %}

<!-- As a heading -->
<!-- Google Fonts link -->
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
<nav class="navbar" style="background-color: #006853;">
  <div class="container-fluid d-flex justify-content-center">
    <span class="navbar-brand mb-0 h1"
      style="font-family: 'Georgia', serif; font-weight: 700; font-size: x-large; color: white;">My Flask Crud
      Application!</span>
  </div>
</nav>

{% endblock %}